.city, .temperature, .prediction, .centigrate {
    color:#e8faff;
  }
  .temperatures {
    color: #d1e2ff;
  }
  
  .city {
    font-size: 15pt;
    margin:0;
  }
  
  .date{
    color:#a9b1f8;
    margin:0;
    
  }
  
  .box-grade{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 130px;
  }
  .temperature{
   font-size: 55pt;
   display: inline-block;
  }
  .centigrate{
    font-size: 25pt;
    display: inline-block;
    align-self: center;
    padding-left: 0.3rem;
    padding-bottom: 1rem;
  }
  .temperatures{
    font-size: 13pt;
  }
  .prediction{
    margin:0;
    font-size: 13pt;
  }
  
  .wi { 
    padding-top: 3.5rem;
    padding-right: 1rem;
    font-size: 38pt;
    color: rgb(255, 255, 255);
    /*Animacion por icono*/
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  /*Ejemplo hay que cambiarlo segun icono*/
  @keyframes example {
    0%   { margin-top:6px;}
    25%  { margin-top: 10px;}
    50%  { margin-top: 12px;}
    75%  { margin-top: 10px;}
    100% { margin-top: 6px;}
  }