.glass {
    margin-top: 2rem;
    padding: 1rem ;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}
.glass > .row{
    margin: 0;
}
.title-hour{
    text-align: right !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10pt;
    color:white;
    font-weight: bold;
}