*{
  font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;   
  background: rgb(90,73,239);
  background: linear-gradient(180deg, 
                rgba(90,73,239,1) 0%, 
                rgba(99,145,246,1) 50%, 
                rgba(143,209,251,1) 100%);
  background-repeat: no-repeat;   
}

.height{
  height: 50px;
}

.location-text {
  display: inline-block;
  padding-right: 1rem;
  color: white;
  font-weight: bold;
  line-height: 200%;
  margin-bottom: 0;
}

.location-label {
  color:white !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 rgb(172, 172, 243) !important;
}

.city, .temperature, .prediction, .centigrate {
  color:#e8faff;
}
.temperatures {
  color: #d1e2ff;
}

.city {
  font-size: 15pt;
  margin:0;
}

.date{
  color:#a9b1f8;
  margin:0;
  
}

.box-grade{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 130px;
}
.temperature{
 font-size: 55pt;
 display: inline-block;
}
.centigrate{
  font-size: 25pt;
  display: inline-block;
  align-self: center;
  padding-left: 0.3rem;
  padding-bottom: 1rem;
}
.temperatures{
  font-size: 13pt;
}
.prediction{
  margin:0;
  font-size: 13pt;
}

.wi { 
  padding-top: 3.5rem;
  padding-right: 1rem;
  font-size: 38pt;
  color: white;
  /*Animacion por icono*/
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/*Ejemplo hay que cambiarlo segun icono*/
@keyframes example {
  0%   { margin-top:0px;}
  25%  { margin-top: 5px;}
  50%  { margin-top: 12px;}
  75%  { margin-top: 10px;}
  100% { margin-top: 6px;}
}
